<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Авторизация</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/styles/main-styles.css">
</head>
<body>


<div class="parent">
    <div class="inner">
        <form action="/login_auth" method="POST">
            <div class="block">
                <div class="card border-0" style="margin: 0 auto; min-width: 400px; ">
                    <img src="static/images/logo.png" class="w-25" style="margin: 0 auto; margin-top: 25px; min-width: 250px; ">
                    <div class="card-body w-75" style="margin: 0 auto;  max-width: 400px;">

                        <div style="margin-top: 20px;">

                            <div class="input-group mb-3" style="margin: 0 auto; width: 100%;">
                                <input name="username" type="text" class="form-control" placeholder="Логин">
                            </div>

                            <div class="input-group mb-3" style="margin: 0 auto; width: 100%;">
                                <input name="password" type="password" class="form-control" placeholder="Пароль">
                            </div>

                        </div>
                        {{#error}}
                        <div class="mt-2 mb-2"><b>Неправильный логин или пароль!</b></div>
                        {{/error}}
                        <div style="width: 100%;">
                            <button type="submit" class="btn fs-5 text-white" style="width: 100%; background-color: #0060AA;">
                                <b>Вход</b>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>
