<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/main-styles.css">
</head>
<body style="background: #2b2532;">

<div class="parent">
    <div class="inner">
        <div class="block">
            <!-- <img style="width: 100px;;" src="https://phonoteka.org/uploads/posts/2021-05/1621661449_27-phonoteka_org-p-fon-dlya-prezentatsii-antarktida-29.jpg"> -->

            <div class="card text-white w-75" style="background: #4C4B4E; margin: 0 auto;" >
                <img src="u.png" class="w-25" style="margin: 0 auto; margin-top: 25px;">
                <div class="card-body">
                    <h4 class="card-title">Авторизация</h4>

                    <div style="margin-top: 20px;">
                        <div class="input-group mb-3" style="border: 0;">
                            <span class="input-group-text no-border text-white w-25" id="inputGroup-sizing-default" style="background-color: #545453;">Логин</span>
                            <input style="background-color: #38373A;" type="text" class="form-control no-border text-white" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>

                        <div class="input-group mb-3" style="border: 0;">
                            <span class="input-group-text no-border text-white" id="inputGroup-sizing-default" style="background-color: #545453;">Пароль</span>
                            <input style="background-color: #38373A;" type="password" class="form-control no-border text-white" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <button type="button" class="btn btn-info text-white fs-5" style="min-width: 125px;">Войти</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <form action="/login_auth" method="POST">
        {{#logout}}
        asdasdasdasdasdas
        dfdfd
        <div class="form-group has-success">
            <label class="control-label" for="inputSuccess">Input with success</label>
            <input type="text" class="form-control" id="inputSuccess"/>
            <span class="help-block">Woohoo!</span>
        </div>
        {{/logout}}
        <div class="form-group">
            <label for="username">Email address</label>
            <input type="text" class="form-control" id="username" aria-describedby="username"
                   placeholder="Enter username" name="username">
            <small id="emailHelp" class="form-text text-muted">можно использовать логин и пароль из сайта
                portal.usue.ru</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                   name="password">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>
