{{>header}}

<style>

    .show-error {
        border: 1px solid #ff9898;
        background-color: #ff9898;
        color: #7a0505;
    }
</style>

<script>
    function closeErrors(st) {
        for (let i = 1; i <= 10; i++) {
            document.getElementById(st + i).classList.remove('show-error')
        }
    }
</script>

{{#student}}

<div class="container m-2">
    {{#group}}
    <div class="alert alert-primary mt-4" role="alert">
        Текущая группа : {{name}}
    </div>
    {{/group}}

    <div class="alert alert-primary mt-2" role="alert">
        Текущий студент : {{name}}
    </div>

</div>

<div class="container m-2 alert">
    Список вопросов
</div>
<div class="container m-2">
    <form method="post" action="/save_answer">
        {{#questions}}


        <div class="card m-2">
            <div class="card-body">
                <p class="card-text">{{text}}</p>

                {{#options}}
                <input type="radio" class="btn-check" name="quest-{{id}}" id="quest-{{id}}-{{index}}" autocomplete="off"
                       value="{{index}}" required
                       oninvalid="document.getElementById('label-{{id}}-{{index}}').classList.add('show-error')"
                       oninput="closeErrors('label-{{id}}-')">
                <label class="btn quest-label-button btn-sm mb-1" for="quest-{{id}}-{{index}}"
                       id="label-{{id}}-{{index}}">{{index}}</label>
                {{/options}}


            </div>
        </div>

        {{/questions}}


        <div class="input-group mb-3">
            <input id="comment-input" name="comment" type="text" class="form-control" placeholder="Комментарий">
        </div>
        <div class="container ms-auto m-2">
            <button class="btn btn-primary" type="submit">Сохранить</button>
        </div>

    </form>
</div>
{{/student}}
{{^student}}

<div class="alert alert-danger" role="alert">
    Ощибка!
    <a class="nav-link " href="/">
        перейти в главное меню
    </a>
</div>

{{/student}}

{{>foother}}
