{{>header}}

<style>

    .show-error {
        border: 1px solid #ef2929;
        background-color: #ff9898;
        color: #7a0505;
    }
</style>

<script>
    function closeErrors(st) {
        for (let i = 1; i <= 10; i++) {
            document.getElementById(st + i).classList.remove('show-error')
        }
    }
</script>

{{#student}}

<div class="container m-2">

    <div class="alert alert-primary" role="alert">
        Текущий студент : {{name}}
    </div>

</div>

<div class="container m-2 alert">
    Список вопросов
</div>
<div class="container m-2">
    <form method="post" action="/save_answer">
        {{#questions}}


        <div class="card m-2">
            <div class="card-body">
                <p class="card-text">{{text}}</p>
                <div class="btn-group btn-group-sm" role="group">
                    <input type="radio" class="btn-check" name="quest-{{id}}" id="quest-{{id}}-1" autocomplete="off"
                           value="1" required
                           oninvalid="document.getElementById('label-{{id}}-1').classList.add('show-error')"
                           oninput="closeErrors('label-{{id}}-')">
                    <label class="btn btn-outline-primary" for="quest-{{id}}-1" id="label-{{id}}-1">1</label>
                    <input type="radio" class="btn-check" name="quest-{{id}}" id="quest-{{id}}-2" autocomplete="off"
                           value="2" required
                           oninvalid="document.getElementById('label-{{id}}-2').classList.add('show-error')"
                           oninput="closeErrors('label-{{id}}-')">
                    <label class="btn btn-outline-primary" for="quest-{{id}}-2" id="label-{{id}}-2">2</label>
                    <input type="radio" class="btn-check" name="quest-{{id}}" id="quest-{{id}}-3" autocomplete="off"
                           value="3" required
                           oninvalid="document.getElementById('label-{{id}}-3').classList.add('show-error')"
                           oninput="closeErrors('label-{{id}}-')">
                    <label class="btn btn-outline-primary" for="quest-{{id}}-3" id="label-{{id}}-3">3</label>
                    <input type="radio" class="btn-check" name="quest-{{id}}" id="quest-{{id}}-4" autocomplete="off"
                           value="4" required
                           oninvalid="document.getElementById('label-{{id}}-4').classList.add('show-error')"
                           oninput="closeErrors('label-{{id}}-')">
                    <label class="btn btn-outline-primary" for="quest-{{id}}-4" id="label-{{id}}-4">4</label>
                    <input type="radio" class="btn-check" name="quest-{{id}}" id="quest-{{id}}-5" autocomplete="off"
                           value="5" required
                           oninvalid="document.getElementById('label-{{id}}-5').classList.add('show-error')"
                           oninput="closeErrors('label-{{id}}-')">
                    <label class="btn btn-outline-primary" for="quest-{{id}}-5" id="label-{{id}}-5">5</label>
                    <input type="radio" class="btn-check" name="quest-{{id}}" id="quest-{{id}}-6" autocomplete="off"
                           value="6" required
                           oninvalid="document.getElementById('label-{{id}}-6').classList.add('show-error')"
                           oninput="closeErrors('label-{{id}}-')">
                    <label class="btn btn-outline-primary" for="quest-{{id}}-6" id="label-{{id}}-6">6</label>
                    <input type="radio" class="btn-check" name="quest-{{id}}" id="quest-{{id}}-7" autocomplete="off"
                           value="7" required
                           oninvalid="document.getElementById('label-{{id}}-7').classList.add('show-error')"
                           oninput="closeErrors('label-{{id}}-')">
                    <label class="btn btn-outline-primary" for="quest-{{id}}-7" id="label-{{id}}-7">7</label>
                    <input type="radio" class="btn-check" name="quest-{{id}}" id="quest-{{id}}-8" autocomplete="off"
                           value="8" required
                           oninvalid="document.getElementById('label-{{id}}-8').classList.add('show-error')"
                           oninput="closeErrors('label-{{id}}-')">
                    <label class="btn btn-outline-primary" for="quest-{{id}}-8" id="label-{{id}}-8">8</label>
                    <input type="radio" class="btn-check" name="quest-{{id}}" id="quest-{{id}}-9" autocomplete="off"
                           value="9" required
                           oninvalid="document.getElementById('label-{{id}}-9').classList.add('show-error')"
                           oninput="closeErrors('label-{{id}}-')">
                    <label class="btn btn-outline-primary" for="quest-{{id}}-9" id="label-{{id}}-9">9</label>
                    <input type="radio" class="btn-check" name="quest-{{id}}" id="quest-{{id}}-10" autocomplete="off"
                           value="10" required
                           oninvalid="document.getElementById('label-{{id}}-10').classList.add('show-error')"
                           oninput="closeErrors('label-{{id}}-')">
                    <label class="btn btn-outline-primary" for="quest-{{id}}-10" id="label-{{id}}-10">10</label>
                </div>
            </div>
        </div>

        {{/questions}}


        <div class="input-group mb-3">
            <input id="comment-input" name="comment" type="text" class="form-control" placeholder="Комментарий">
        </div>
        <div class="container ms-auto m-2">
            <button class="btn btn-primary" type="submit">Сохранить</button>
        </div>

    </form>
</div>
{{/student}}
{{^student}}

<div class="alert alert-danger" role="alert">
    Ощибка!
    <a class="nav-link " href="/">
        перейти в главное меню
    </a>
</div>

{{/student}}

{{>foother}}
