@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.parent {
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
}
.inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.block {
    display: inline-block;
}

.no-border {
    border: 0;
}

html * {
    font-family: "Open Sans", serif !important;
}